<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Sleep Soon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="background-container">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/pencil.png') }}" alt="Pencil Image">
            <img src="{{ url_for('static', filename='images/welcome_graphic.png') }}" alt="Welcome Image">
            <img src="{{ url_for('static', filename='images/books.png') }}" alt="Books Image">
        </div>
        <button onclick="location.href='{{ url_for('sleep') }}'"> Get Started</button>
    </div>
</body>
</html>

